<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>CodeCool Reads</title>
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css" th:href="@{/static/css/custom.css}" />
    <script type="module" src='/static/js/main.js' defer></script>
</head>
<body>

<div th:fragment="copy">
 <nav>
    <ul class="ulNav">
      <li><a th:href="${'/index.html/'}">CodeCool Reads</a></li>

        <th:block th:if="${username == null}">
            <li><a class="login" th:href="@{/login}" th:attr="data-topic=@{login}">Login</a></li>
            <li><a th:href="@{/register}" class="register"  th:attr="data-topic=@{register}"> Register</a></li>
        </th:block>
        <th:block th:unless="${username == null}">
            <li><a class="loginUsername" style="color: #428bca" th:text="${username}"></a></li>
            <li><a class="login" th:href="@{/logout}" th:attr="data-topic=@{logout}">Logout</a></li>
            <li class="rightShoppingCart" style="float:right;" ><a  href="/shopping-cart" class="shoppingCart" th:attr="data-topic=@{shopping-cart}" >Shopping Cart <img src='/static/img/shopping-cart-icon.png'  th:attr="src='/static/img/shopping-cart-icon.png'" alt="cart" /></a></li>
        </th:block>


    </ul>
 </nav>
    <header class="header">
    </header>
  </div>

</body>
</html>